.card {
    border: solid #000000;
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #b0beba;
    padding: 20px 60px;
    cursor: pointer;
    border-radius: 15px;
}

.card h2 {
    text-align: center;
}

.card p {
    font-size: 1.2em;
}