.vt-header {
    background-color: #9173bd;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 3rem;
    gap: 4rem;
    padding-left: 2rem;
}

